* {margin: 0px; padding: 0px;}

body {
	background-image: url("images/webbackground.jpg");
	font-family: "Courier New";
	font-weight: bold;
}

#mainheader {
	width: 80%;
	background-color: white;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
}

#mainheader  img {
	display: block;
	margin: auto;
}

#subheader {
	width: 80%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	border-top-style: solid;
	border-style: solid;
	margin-bottom: 2px;
}

#subheader p {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	display: inline-block;
}

#subheader #middletext {
	position: relative;
	left: 335px;
	display: inline-block;
}

#subheader #righttext {
	position: relative;
	left: 725px;
	display: inline-block;
}

#currentstats {
	width: 30%;
	position: relative;
	left: 189px;
	background-color: white;
	border-style: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
